<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>examOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.turing.manage.login.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/manage/login.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ManagerServlet</servlet-name>
  <servlet-class>com.turing.manage.manager.ManagerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ManagerServlet</servlet-name>
  <url-pattern>/manage/manager.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ClasssServlet</servlet-name>
  <servlet-class>com.turing.manage.classs.ClasssServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ClasssServlet</servlet-name>
  <url-pattern>/manage/classs.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>ExamineeServlet</servlet-name>
  <servlet-class>com.turing.manage.examinee.ExamineeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ExamineeServlet</servlet-name>
  <url-pattern>/manage/examinee.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>GradeServlet</servlet-name>
  <servlet-class>com.turing.manage.grade.GradeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>GradeServlet</servlet-name>
  <url-pattern>/manage/grade.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>SessionFilter</filter-name>
  <filter-class>com.turing.manage.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>SessionFilter</filter-name>
  <url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  
  
  <filter>
  <filter-name>CharacterEncodingFilter</filter-name>
  <filter-class>com.turing.manage.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>CharacterEncodingFilter</filter-name>
  <url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  
  <filter>
 	<filter-name>IPFilter</filter-name>
 	<filter-class>com.turing.manage.filter.IpFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>IPFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>
  
  <servlet>
  <servlet-name>TestpaperServlet</servlet-name>
  <servlet-class>com.turing.manage.testpaper.TestpaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TestpaperServlet</servlet-name>
  <url-pattern>/manage/testpaper.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>CourseServlet</servlet-name>
  <servlet-class>com.turing.manage.course.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CourseServlet</servlet-name>
  <url-pattern>/manage/course.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SubjectServlet</servlet-name>
  <servlet-class>com.turing.manage.subject.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubjectServlet</servlet-name>
  <url-pattern>/manage/subject.do</url-pattern>
  </servlet-mapping>
  
  <listener>
  <listener-class>com.turing.manage.listeners.MyServletRequestListener</listener-class>
  </listener>
  <listener>
  <listener-class>com.turing.manage.listeners.SessionListener</listener-class>
  </listener>
  <listener>
  <listener-class>com.turing.manage.listeners.MyLicenesListener</listener-class>
  </listener>
</web-app>